In [348]:
import pandas as pd

In [349]:
df=pd.read_csv('/Users/hindsalem/Desktop/Project_Jarir_Bookstore/laptop_Data.csv')
df

,Acer,Apple,Asus,Chuwi,Dell,Fujitsu,Google,HP,Huawei,LG,...,768.1,900,1080,1200,1440.1,1504,1600.1,1800,1824,2160.1
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003,0,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
1004,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1005,0,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
1006,0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
1007,0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0

In [350]:
df.columns

Index(['Acer', 'Apple', 'Asus', 'Chuwi', 'Dell', 'Fujitsu', 'Google', 'HP',
       'Huawei', 'LG', 'Lenovo', 'MSI', 'Mediacom', 'Microsoft', 'Razer',
       'Samsung', 'Toshiba', 'Vero', 'Xiaomi', '2 in 1 Convertible', 'Gaming',
       'Netbook', 'Notebook', 'Ultrabook', 'Workstation', 'AMD Processor',
       'Intel Core i3', 'Intel Core i5', 'Intel Core i7',
       'Other Intel Processor', 'AMD', 'Intel', 'Nvidia', 'Android',
       'Chrome OS', 'Linux', 'Mac OS X', 'No OS', 'Windows 10', 'Windows 10 S',
       'Windows 7', 'macOS', '0', '32', '128', '500', '1000', '2000', '0.1',
       '8', '16', '32.1', '64', '128.1', '180', '240', '256', '512', '768',
       '1000.1', '1024', 'Inches', 'Weight', 'Price', 'IPS', 'Touchscreen',
       'ppi', 'Layer1Hybrid', '2', '4', '6', '8.1', '12', '16.1', '24', '32.2',
       '1366', '1440', '1600', '1920', '2160', '2256', '2304', '2400', '2560',
       '2736', '2880', '3200', '3840', '768.1', '900', '1080', '1200',
       '1440.1', '1504', '1600.1', '1800', '1824', '2160.1'],
      dtype='object')

In [351]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1008 entries, 0 to 1007
Data columns (total 99 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Acer                   1008 non-null   int64
 1   Apple                  1008 non-null   int64
 2   Asus                   1008 non-null   int64
 3   Chuwi                  1008 non-null   int64
 4   Dell                   1008 non-null   int64
 5   Fujitsu                1008 non-null   int64
 6   Google                 1008 non-null   int64
 7   HP                     1008 non-null   int64
 8   Huawei                 1008 non-null   int64
 9   LG                     1008 non-null   int64
 10  Lenovo                 1008 non-null   int64
 11  MSI                    1008 non-null   int64
 12  Mediacom               1008 non-null   int64
 13  Microsoft              1008 non-null   int64
 14  Razer                  1008 non-null   int64
 15  Samsung                1008 non-null   int64
 16  Toshiba                1008 non-null   int64
 17  Vero                   1008 non-null   int64
 18  Xiaomi                 1008 non-null   int64
 19  2 in 1 Convertible     1008 non-null   int64
 20  Gaming                 1008 non-null   int64
 21  Netbook                1008 non-null   int64
 22  Notebook               1008 non-null   int64
 23  Ultrabook              1008 non-null   int64
 24  Workstation            1008 non-null   int64
 25  AMD Processor          1008 non-null   int64
 26  Intel Core i3          1008 non-null   int64
 27  Intel Core i5          1008 non-null   int64
 28  Intel Core i7          1008 non-null   int64
 29  Other Intel Processor  1008 non-null   int64
 30  AMD                    1008 non-null   int64
 31  Intel                  1008 non-null   int64
 32  Nvidia                 1008 non-null   int64
 33  Android                1008 non-null   int64
 34  Chrome OS              1008 non-null   int64
 35  Linux                  1008 non-null   int64
 36  Mac OS X               1008 non-null   int64
 37  No OS                  1008 non-null   int64
 38  Windows 10             1008 non-null   int64
 39  Windows 10 S           1008 non-null   int64
 40  Windows 7              1008 non-null   int64
 41  macOS                  1008 non-null   int64
 42  0                      1008 non-null   int64
 43  32                     1008 non-null   int64
 44  128                    1008 non-null   int64
 45  500                    1008 non-null   int64
 46  1000                   1008 non-null   int64
 47  2000                   1008 non-null   int64
 48  0.1                    1008 non-null   int64
 49  8                      1008 non-null   int64
 50  16                     1008 non-null   int64
 51  32.1                   1008 non-null   int64
 52  64                     1008 non-null   int64
 53  128.1                  1008 non-null   int64
 54  180                    1008 non-null   int64
 55  240                    1008 non-null   int64
 56  256                    1008 non-null   int64
 57  512                    1008 non-null   int64
 58  768                    1008 non-null   int64
 59  1000.1                 1008 non-null   int64
 60  1024                   1008 non-null   int64
 61  Inches                 1008 non-null   float64
 62  Weight                 1008 non-null   float64
 63  Price                  1008 non-null   float64
 64  IPS                    1008 non-null   int64
 65  Touchscreen            1008 non-null   int64
 66  ppi                    1008 non-null   float64
 67  Layer1Hybrid           1008 non-null   int64
 68  2                      1008 non-null   int64
 69  4                      1008 non-null   int64
 70  6                      1008 non-null   int64
 71  8.1                    1008 non-null   int64
 72  12                     1008 non-null   int64
 73  16.1                   1008 non-null   int64
 74  24                     1008 non-null   int64
 75  32.2                   1008 non-null   int64
 76  1366                   1008 non-null   int64
 77  1440                   1008 non-null   int64
 78  1600                   1008 non-null   int64
 79  1920                   1008 non-null   int64
 80  2160                   1008 non-null   int64
 81  2256                   1008 non-null   int64
 82  2304                   1008 non-null   int64
 83  2400                   1008 non-null   int64
 84  2560                   1008 non-null   int64
 85  2736                   1008 non-null   int64
 86  2880                   1008 non-null   int64
 87  3200                   1008 non-null   int64
 88  3840                   1008 non-null   int64
 89  768.1                  1008 non-null   int64
 90  900                    1008 non-null   int64
 91  1080                   1008 non-null   int64
 92  1200                   1008 non-null   int64
 93  1440.1                 1008 non-null   int64
 94  1504                   1008 non-null   int64
 95  1600.1                 1008 non-null   int64
 96  1800                   1008 non-null   int64
 97  1824                   1008 non-null   int64
 98  2160.1                 1008 non-null   int64
dtypes: float64(4), int64(95)
memory usage: 779.8 KB

We're going to try out the validation process to choose between 3 models: simple linear regression, linear regression with ridge regularization, and linear regression with 2nd degree polynomial features.

## Method 1: Train / Validation / Test¶

####  First model simple linear regression :
####

In [352]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge #ordinary linear regression + w/ ridge regularization
from sklearn.preprocessing import StandardScaler, PolynomialFeatures

In [353]:
X,y=df.drop('Price',axis=1), df['Price']
X

,Acer,Apple,Asus,Chuwi,Dell,Fujitsu,Google,HP,Huawei,LG,...,768.1,900,1080,1200,1440.1,1504,1600.1,1800,1824,2160.1
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003,0,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
1004,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1005,0,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
1006,0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
1007,0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0

In [354]:
X, X_test, y, y_test = train_test_split(X, y, test_size=.2, random_state=10)

In [355]:
X_train,X_val,y_train,y_val=train_test_split(X,y,test_size=.25,random_state=10)

In [356]:
print(X.shape)
print(X_test.shape)
print(y.shape)
print(y_test.shape)

(806, 98)
(202, 98)
(806,)
(202,)

In [357]:
LR= LinearRegression()
LR.fit(X_train,y_train)

LinearRegression()

In [358]:
print(f'Linear Regression validation score :{LR.score(X_val,y_val):.4f}')

Linear Regression validation score :0.8098

####  Second model  polynomial regression :

In [371]:
poly =PolynomialFeatures(degree=1)
X_train_poly = poly.fit_transform(X_train.values)
X_val_poly=poly.transform(X_val.values)
X_test_poly = poly.transform(X_test.values)

poly_lr=LinearRegression()

In [372]:
poly_lr.fit(X_train_poly, y_train)


print(f'Polynomial Regression validation score: {poly_lr.score(X_val_poly,y_val):.4f}')

Polynomial Regression validation score: 0.8098

In [379]:
scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train.values)
X_val_scaled = scaler.transform(X_val.values)
X_test_scaled = scaler.transform(X_test.values)

In [380]:
lr_ridge=Ridge(alpha=1)
lr_ridge.fit(X_train_scaled,y_train)

Ridge(alpha=1)

In [383]:
print(f'Ridge Regression val R^2: {lr_ridge.score(X_val_scaled, y_val):.4f}')

Ridge Regression val R^2: 0.8119